body{
    margin: 0;
}

/*header*/
.intestazione{
    width: auto;
    height: 100px;
}

#logo {
    width: 70px;
    height: 70px;
    margin-top: 0%;
    margin-left: 10px;   
}

h1{
    display: inline;
    font-size: 60px;
    vertical-align: top;
}

/*Inizia il Main*/
main{
    height: 100%;
    background-color: gray;

}

#bottoni{
    background-color: white;
    margin: 0px 200px;
    padding: 20px 50px;
    border-radius: 10px;
}

.contenuto{
    background-color: white;
    height: 800px;
    margin: 2px 200px;
    border-radius: 10px;
    padding-top: 20px;
    padding-left:  50px ;
}

