body{
    margin: 0;
}

/*header*/
.intestazione{
    width: auto;
    height: 100px;
}

#logo {
    width: 70px;
    height: 70px;
    margin-top: 0%;
    margin-left: 10px;   
}

h1{
    display: inline;
    font-size: 60px;
    vertical-align: top;
}

/*Inizia il Main*/
main{
    height: 100%;
    background-color: lightgray;
    

}

#bottoni{
    background-color: white;
    margin: 0px 200px;
    padding: 20px 100px;
    border-radius: 10px;
}

.contenuto{
    background-color: white;
    height: 800px;
    margin: 2px 200px;
    border-radius: 10px;
    padding-top: 20px;
    padding-left:  100px ;
    line-height: 45px;
}
main h2{
    margin-bottom: 0;
    line-height: 15px;

}
main div{
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cerchiate{
    background-color: rgb(40, 176, 230);
    border-radius: 15px;
    padding: 5px;
    font-size: 15px;
    color: white;
}
.cerchiate.viola{
    background-color: blueviolet;
}
.cerchiate.arancione{
    background-color:orange;
}

.cerchiate.fuxia{
    background-color:fuchsia;
}

.cerchiate.verde{
    background-color:greenyellow;
}

